<div class="alert alert-success" id="alert-success" role="alert" style="display: none;"> 
	Il giocatore è stato inserito! 
</div>
<div class="alert alert-danger" id="alert-error" role="alert" style="display: none;">
	Errore nell'inserimento del giocatore, riprovare
</div>
<form id="addPlayer">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<input type="text" class="form-control" id="name" placeholder="Nome">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<input type="text" class="form-control" id="surname" placeholder="Cognome">
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12">
			<div class="form-group">
				<textarea class="form-control" id="bio" placeholder="Biografia"></textarea>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary btn-lg btn-block">
				Inserisci
			</button>
		</div>
	</div>
</form>